.button-form{
    margin-top: 30px;
    width: 263px;
    max-width: 90vw;
    height: 64px;
    background: #38B6FF;
    border: none;
    border-radius: 20px;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-form:hover {
    background: #0099e6; /* cand miscam mouse-ul deasupra butonului, se intuneca culoarea */
    transform: scale(1.05); /* cand miscam mouse-ul, se mareste butonul */
}

@media (max-width: 700px) {
    .button-form {
        width: 80vw;
        min-width: 140px;
        max-width: 320px;
        font-size: 20px;
        height: 54px;
        margin-left: auto;
        margin-right: auto;
    }
}