/* Mobile */
@media (max-width: 1023px) {
  .profil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .profil-pic-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
  }

  .profil-pic,
  .profil-pic-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #38b6ff;
  }

  .profil-pic-placeholder {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #38b6ff;
    color: #666;
    font-size: 10px;
  }

  .profil-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: space-around;
  }

  .profil-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .profil-section h4 {
    margin: 5px;
    text-align: left;
  }

  .profil-details-h4 {
    text-align: left;
    margin: 5px;
  }

  .descriere-section {
    margin-top: 20px;
    gap: 10px;
    width: 100%;
  }

  .descriere-section h4 {
    margin: 0;
    text-align: left;
  }

  .descriere-section p {
    margin-top: 10px;
    font-weight: 400;
    text-align: justify;
  }

  .descriere-section-h4 {
    text-align: left;
    margin: 10px 0;
  }

  .items-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }

  .item-btn {
    background-color: #a1a7ab;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: default;
    transition: background-color 0.3s ease;
    border: 1px solid #707070;
  }

  .item-btn:hover {
    background-color: #6bbaeb;
  }

  .btn-section-my {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
  }

  .btn-my-profil {
    background-color: #38b6ff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 16px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
  }

  .btn-my-profil:hover {
    background-color: #ffffff;
    cursor: pointer;
    border: #38b6ff 2px solid;
  }

  .btn-my-profil:active {
    transform: scale(0.95);
    color: #38b6ff;
  }

  .titlu-profil {
    font-size: 2rem;
    margin-top: 0;
    text-align: center;
  }

  .loading-message {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    margin-top: 50px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .profil-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
  }

  .profil-pic-container {
    position: relative;
    display: inline-block;
  }

  .profil-pic,
  .profil-pic-placeholder {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #38b6ff;
  }

  .profil-pic-container button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(56, 182, 255, 0.8);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .profil-pic-container:hover button {
    opacity: 1;
  }

  .profil-pic-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #38b6ff;
    color: #666;
    font-size: 12px;
  }

  .profil-section {
    display: flex;
    flex-direction: row;
  }

  .profil-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-around;
  }

  .profil-details-h4 {
    text-align: left;
    margin: 0;
  }

  .descriere-section-h4 {
    text-align: left;
    margin: 10px 0;
  }

  .titlu-profil {
    font-size: 2.5rem;
    margin-top: 0;
  }

  .descriere-section {
    margin-top: 30px;
    gap: 10px;
  }

  .descriere-section p {
    text-align: left;
    font-weight: 400;
    margin-top: 5px;
  }

  .items-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }

  .item-btn {
    background-color: #a1a7ab;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: default;
    transition: background-color 0.3s ease;
    border: 1px solid #707070;
  }

  .item-btn:hover {
    background-color: #6bbaeb;
  }

  .profil-btn-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .btn-section-my {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 10%;
    margin-right: 50px;
  }

  .btn-my-profil {
    background-color: #38b6ff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 20px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
  }

  .btn-my-profil:hover {
    background-color: #ffffff;
    cursor: pointer;
    border: #38b6ff 2px solid;
  }

  .btn-my-profil:active {
    transform: scale(0.95);
    color: #38b6ff;
  }

  .loading-message {
    text-align: center;
    font-size: 1.5rem;
    color: #666;
    margin-top: 100px;
  }
}
