.my-jobs-page {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}

/* Containerul mare care ține inputurile și butoanele unul lângă altul */
.add-job-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centrează butoanele pe verticală */
  justify-content: center;
  gap: 30px; /* Distanța dintre formular și butoane */
  max-width: 1300px;
  margin: 0 auto;
}

/* Grila pentru input-uri (partea stângă) */
.add-job-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  column-gap: 40px;
  row-gap: 30px;
  width: 100%;
}

.add-job-grid .form-title {
  grid-column: span 2; 
  text-align: left;
  margin: 10px;
  font-size: 2.5rem; 
  color: #000; 
}

/* Facem input-urile să ocupe tot spațiul celulei din grid */
.add-job-grid .input-group, 
.add-job-grid .add-job-input,
.add-job-grid .input-group input,
.add-job-grid .description-group {
  width: 100%;
  max-width: 100%; 
  margin-bottom: 0; 
}

.add-job-grid .description-group {
  /*grid-column: span 2;*/
  width: 100%;
  max-width: 100%;
}

/* Stil pentru zona de butoane (partea dreaptă) */
.add-job-buttons {
  display: flex;
  flex-direction: column; /* Butoanele unul sub altul */
  gap: 15px;
  min-width: 120px;
  font-size: 16px;
}

.input-group textarea.add-job-input {
  width: 100%;
  max-width: 100%;
  min-height: 40px; 
}

@media (max-width: 850px) {
  .add-job-wrapper {
    flex-direction: column; /* Inputurile sus, butoanele jos */
    margin: 10px;
  }

  .add-job-grid {
    grid-template-columns: 1fr; 
  }

  .add-job-grid .description-group {
    grid-column: span 1;
  }

  .add-job-buttons {
    flex-direction: row; /* Pe mobil punem butoanele unul lângă altul jos */
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .add-job-grid .form-title {
    grid-column: span 1;
    text-align: center; 
  }
}